.show-category-title {
  margin-top: 45px;
  font-family: "macan-bold";
  .category-title-page {
    font-size: 32px;
    color: #222325;
    padding-bottom: 0;
  }
  .category-description {
    padding-top: 10px;
    font-family: "macan-regular";
    color: #95979d;
    font-size: 16px;
  }
}
