.explore-filter {
  margin-top: 40px;
}

.user-msg-explore {
  font-size: 20px;
  font-family: Macan-bold;
  color: #62646a;
  margin-top: 30px;
  text-align: center;

}

.checkbox-on-select {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
}

.el-input__inner {
  font-size: 16px;
  


}

.el-input {
color: black;
font-size: 16px;
}

.options-warpper {
  display: flex;
  gap: 16px;

}

.el-input__inner {
  --el-input-placeholder-color: #000000;
  font-weight: 600;
  color: #222325;
  font-family: Macan-regular;
  padding: 6px 12px;
  font-size: 16px;

}

.el-input__inner.el-input--large{
  font-size: 20px;
  padding-right: calc(10px + 60px + 80px);

}

.el-input.el-input--large.el-input--suffix {
  font-size: 16px;
  padding-right: calc(0px + 0px + 0px);;
}

.el-input--large.el-input--suffix.el-input__inner {
  padding-right: calc(0px + 0px + 0px);;

}
